// COLORS
$primary-color: #025c07;
$secondary-color: #03b111;

$white-color: #d8d8d8;

$dark-grey: #292828;
$light-grey: #ffffff;

$dark-blue-text: #141220; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
